table{
    width: 100%;
}

tr, td,th{
    border: 1px solid black;
}

input{
    width: 99%;
}

.add{
    width: 100%;
}
.container{
 background-color: aqua;
 margin-top: 50px;

}
.sectionchild{
    border: 1px solid blue;
    
}

.div{
    display: grid;
    grid-template-columns: 20% 55% 15% 10%
}
.all{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.checkbox{
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
}


h1,h2,h3{
    text-align: center;
}
.delete{
  margin-left: 50%;
  margin-bottom: 10px;
  
}

.first,.second{
    display: flex;
   flex-direction: column;
   margin-left: 60px;
   align-items: center;
   justify-content: center;
}