
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #8EC5FC;
    background-image: linear-gradient(248deg, #8EC5FC 0%, #E0C3FC 100%);

}


table{
    width: 100%;
}

tr, td,th{
    border: 1px solid black;
}

tr{
    height: 50px;
}

input{
    width: 97%;
}

.add{
    width: 50%;
    height: 35px;
    padding: 10px;
    margin-left: 25%;
    background-color: #8EC5FC;
    margin-bottom: 10px;
    border-radius: 10px;

}
.container{
    background-color: #8EC5FC;
    background-image: linear-gradient(248deg, #8EC5FC 0%, #E0C3FC 100%);

 margin-top: 50px;

}
.sectionchild{

    border: 1px solid darkblue;

    
}

.div{
    display: grid;

    grid-template-columns: 30% 40% 18% 12%

}
.all{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.checkbox{
    display: flex;
    margin-top: 20px;
    margin-left: 10px;

    border-radius: 10px;
}
h1{
    margin-bottom: 40px;
}


h1,h2,h3{
    text-align: center;
}
.delete{
  margin-left: 50%;
  margin-bottom: 10px;

  width: 80px;
  padding: 5px;
  border-radius: 10px;
  color: white;
  background-color: darkblue;
  transform: translateX(-50%);
  
  

  
}



.doing:checked ~ .name{
    color: green;
    opacity: 0.6;
}

.done:checked + .name{
    text-decoration: line-through;
    color: red;
    opacity: 0.5;

}
#select{
    height: 30px;
    width: 15%;
    background-color: antiquewhite;
    margin-bottom: 10px;
    border-radius: 10px;
}
label:first-of-type{
    margin-left: 15px;
}

.name{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    margin-left: 15px

}